body {
    
    /* default */
    --default: red;
    
    /* background color of the body element */
    --background-color: #323949;
    
    /* navbar colors */
    --navbar-base: #212129;
    --navbar-link: #ffffff;



    /* css for the body */
    background-color: var(--background-color);
    margin: 0px;
}

.Navbar-Base {
    background-color: var(--navbar-base);
    width: max;
    height: 30px;
}

.Link {
    text-decoration: none;
    color: var(--navbar-link);
    padding-left: 10px;
    padding-bottom: 2px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}