body {
    margin: 0;

    --green: #38473B;
    --green2: #447357;
    --gray: #5F5F5F;
    --blue: #334046;
    --blue2: #42617E;
    --blue3: #5D8BAC;
    --purple: #444059;
    --creme: #E3D8C4;
    --creme2: #e3d8c4be;


    background-color: #2b3137;
    
}

.Navbar {
    position: fixed;
    top: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #1b1f23 ;
    font-family: Ubuntu;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
    font-size: 18px;
  }
  
  .Github-Logo {
    width: 55px;
    height: 50px;
  }

